*{
    color: white
}

body{
    margin: 0;
    background-color: #C1E6E6;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #EB6649;
    padding: 16px;
    border-radius: 32px;
    box-shadow: 16px 12px 0px 6px #571a08a6;
}

button{
    cursor: pointer;
    margin: 4px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #5E5E5B;
    box-shadow: 4px 4px 12px -3px #00000040, -4px -4px 16px 4px #00ffc11f;
}

button:active{
    background-color: #8d8d8b;
}

button:focus{
    outline: none;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 12px 12px 22px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #B8BABA;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 12px #00000033;
}

.col-2{
    grid-column: span 2;
}


#valor-actual{
    font-size: 1.5em;

}

#valor-anterior{
    font-size: 2em;
    
}